@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * three arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page and an `Int` for refreshing the
 * page after a set interval.
 *@
@(title: String, content: Html)

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.css")">
  </head>
  <body>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="gmaps.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAStmPtrbXppbP2QAB3PdNpvf-R1vKLB50"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/c3/0.1.29/c3.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/c3/0.1.29/c3.css" rel="stylesheet" type="text/css">
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript">

     function loadPie(ggg) {
       c3.generate({
         bindto: '#edwinTest',
         data: {
           columns: ggg,
           type : 'donut'
         },
         donut: {
           title: "Bus stats:",
         }
       });
     }
    </script>


    <script type="text/javascript" src="../example-fastopt.js"></script>
    <script type="text/javascript" src="/workbench.js"></script>

    <script>
     com.knoldus.weather.Weather().main();
    </script>

    @content
    @playscalajs.html.scripts("client")
  </body>
</html>
